.container {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

.section {
    background-color: rgba(119, 111, 111, 0.13);
    width: 50%;
    margin: 50px auto;
    border-radius: 3%;
    padding: 50px;
}

.header {
    text-align: center;
    color: rgba(127, 103, 39, 1);
    font-size: 36px;
    font-weight: bold;
}

.input {
    background-color: transparent;
    color: #fff;
    font-family: 'Segoe UI';
}

.alert {
    color: #58151c;
    word-wrap: break-word;

}

.containerbtns {
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signupbtn {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #e2e2e2;
    font-weight: bold;
    /* padding: calc(.2em + var(--s)) calc(.9em + var(--s)); */
    padding: 10px 20px;
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.signupbtn:hover,
.signupbtn:focus-visible {
    --_p: 0px;
    outline-color: #ffffff;
    outline-offset: .05em;
}

.loginbtn {
    background-color: rgba(127, 103, 39, 1);
    color: rgba(0, 8, 20, 1);
    padding: 10px 20px;
    border-radius: 5%;
    font-weight: bold;
    transition: 0.5s;
}

.loginbtn:hover {
    color: #ffffffae;
    background-color: rgba(119, 111, 111, 0.13);
    outline: 1px solid #ffffffae;
}


@media (max-width: 768px) {
    .container {
        width: 80%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .section {
        width: 90%;
        /* Adjust width for smaller screens */
        margin: 20px auto;
        /* Reduce margins on smaller screens */
        padding: 30px;
        /* Adjust padding for smaller screens */
    }

    .header {
        font-size: 28px;
        /* Adjust font size for smaller screens */
    }

    .input {
        font-size: 14px;
        /* Adjust font size for smaller screens */
    }

    .containerbtns {
        /* flex-direction: column; */
        /* Stack buttons vertically on small screens */
        align-items: center;
        /* Center buttons horizontally */
        gap: 10px;
        /* Add some space between buttons */
    }
}